<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Clients List</title>
</head>
<body>
<h1>Clients</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surnames</th>
        <th>Phone</th>
    </tr>
    <tr th:each="client : ${clients}">
        <td th:text="${client.id}"></td>
        <td th:text="${client.name}"></td>
        <td th:text="${client.surname}"></td>
        <td th:text="${client.phone}"></td>
    </tr>
</table>
</body>
</html>